Repository skkuding/skku-coding-platform, pull requests merged in 2021-02, with the labels that each got.

#18 유저 정보 입력 수정
  .github/workflows/test-backend.yml
  .gitignore
  JudgeServer/build/java_policy
  OnlineJudge/.flake8
  OnlineJudge/account/migrations/0013_auto_20210117_1246.py
  OnlineJudge/account/models.py
  OnlineJudge/account/serializers.py
  OnlineJudge/account/tests.py
  OnlineJudge/account/views/admin.py
  OnlineJudge/account/views/oj.py
  OnlineJudge/docs/README.md
  OnlineJudge/problem/views/admin.py
  OnlineJudgeFE/.editorconfig
  OnlineJudgeFE/.eslintignore
  OnlineJudgeFE/.eslintrc.js
  OnlineJudgeFE/.postcssrc.js
  OnlineJudgeFE/src/i18n/oj/en-US.js
  OnlineJudgeFE/src/pages/oj/views/setting/children/ProfileSetting.vue
  OnlineJudgeFE/src/pages/oj/views/user/Register.vue
  OnlineJudgeFE/src/pages/oj/views/user/UserHome.vue
  docker-compose.yml
Labels: backend, enhancement, frontend

#49 fix: Admin page redirection
  backend/Dockerfile
  frontend/vue.config.js
Labels: bug

#45 Implemented banner
  frontend/src/assets/banner1.png
  frontend/src/assets/banner2.png
  frontend/src/assets/banner3.png
  frontend/src/assets/banner4.png
  frontend/src/i18n/oj/en-US.js
  frontend/src/pages/oj/App.vue
  frontend/src/pages/oj/components/Banner.vue
  frontend/src/plugins/highlight.js
Labels: frontend

#54 Summarize Submission APP's API
  .github/workflows/test-backend.yml
  backend/contest/views/oj.py
  backend/oj/urls.py
  backend/submission/views/oj.py
  backend/utils/api/api.py
Labels: backend, documentation

#55 API documentation of backend/problem
  backend/problem/views/admin.py
  backend/problem/views/oj.py
  backend/schema.yml
Labels: backend, documentation

#56 BackEnd API Documentation
  backend/account/tests.py
  backend/account/views/admin.py
  backend/account/views/oj.py
  backend/announcement/views/admin.py
  backend/announcement/views/oj.py
  backend/conf/views.py
  backend/problem/views/admin.py
  backend/schema.yml
  backend/submission/views/admin.py
  backend/utils/api/api.py
  backend/utils/views.py
Labels: backend, documentation

#57 Contest API 문서화
  .gitignore
  backend/contest/views/admin.py
  backend/contest/views/oj.py
  backend/data/public/avatar/default.png
  backend/data/public/upload/.gitkeep
  backend/data/public/website/favicon.ico
  backend/oj/settings.py
  backend/run_test.py
  backend/schema.yml
  backend/utils/api/_serializers.py
Labels: backend, documentation

#60 Account API 문서화
  backend/account/views/admin.py
  backend/account/views/oj.py
  backend/announcement/views/admin.py
  backend/contest/models.py
  backend/oj/settings.py
  backend/oj/urls.py
  backend/options/options.py
  backend/schema.yml
  backend/submission/views/oj.py
  backend/utils/migrate_data.py
  backend/utils/throttling.py
Labels: backend, documentation

#61 API 문서 자동화
  .github/workflows/test-backend.yml
  .gitignore
  README.md
  backend/account/tests.py
  backend/account/views/admin.py
  backend/account/views/oj.py
  backend/announcement/views/admin.py
  backend/announcement/views/oj.py
  backend/conf/views.py
  backend/contest/models.py
  backend/contest/views/admin.py
  backend/contest/views/oj.py
  backend/data/public/avatar/default.png
  backend/data/public/upload/.gitkeep
  backend/data/public/website/favicon.ico
  backend/deploy/requirements.txt
  backend/manage.py
  backend/oj/settings.py
  backend/oj/urls.py
  backend/options/options.py
  backend/problem/serializers.py
  backend/problem/views/admin.py
  backend/problem/views/oj.py
  backend/run_test.py
  backend/submission/views/admin.py
  backend/submission/views/oj.py
  backend/utils/api/_serializers.py
  backend/utils/api/api.py
  backend/utils/migrate_data.py
  backend/utils/throttling.py
  backend/utils/views.py
  frontend/src/pages/admin/views/problem/Problem.vue
Labels: backend, documentation
