Repository skkuding/skku-coding-platform, pull requests merged in 2021-07, with the labels that each got.

#117 async/await 처리!
  frontend/src/pages/admin/views/problem/AddPublicProblem.vue
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/admin/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/user/ApplyResetPassword.vue
  frontend/src/pages/oj/views/user/EmailAuth.vue
  frontend/src/pages/oj/views/user/Login.vue
  frontend/src/pages/oj/views/user/Logout.vue
  frontend/src/pages/oj/views/user/ProfileSetting.vue
  frontend/src/pages/oj/views/user/Register.vue
  frontend/src/pages/oj/views/user/ResetPassword.vue
Labels: frontend

#139 Revise/Add css to oj views
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/user/Register.vue
Labels: design, frontend

#143 Fix tag section to enable auto-completion in problem.vue
  frontend/src/pages/admin/views/problem/Problem.vue
Labels: frontend

#146 Replace `v-html` to `v-dompurify-html`
  frontend/package.json
  frontend/src/pages/admin/components/KatexEditor.vue
  frontend/src/pages/admin/index.js
  frontend/src/pages/admin/views/general/Dashboard.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/views/announcement/Announcement.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemSidebar.vue
  frontend/yarn.lock
Labels: frontend, security

#127 Migrating from Simditor to Tiptap Editor
  backend/oj/settings.py
  backend/utils/views.py
  frontend/package.json
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/components/Simditor.vue
  frontend/src/pages/admin/components/Tiptap.vue
  frontend/src/pages/admin/components/simditor-file-upload.js
  frontend/src/pages/admin/index.js
  frontend/src/pages/admin/views/contest/Contest.vue
  frontend/src/pages/admin/views/general/Announcement.vue
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/oj/views/announcement/Announcement.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/yarn.lock
Labels: frontend, maintain, security

#133 Remove every deprecated API from 'backend' folder
  backend/account/middleware.py
  backend/account/migrations/0015_auto_20210703_1545.py
  backend/account/migrations/0016_auto_20210703_1559.py
  backend/account/migrations/0017_auto_20210703_1612.py
  backend/account/models.py
  backend/account/serializers.py
  backend/account/tests.py
  backend/account/urls/oj.py
  backend/account/views/admin.py
  backend/account/views/oj.py
  backend/contest/serializers.py
  backend/contest/tests.py
  backend/contest/urls/admin.py
  backend/contest/urls/oj.py
  backend/contest/views/admin.py
  backend/contest/views/oj.py
  backend/deploy/requirements.txt
  backend/fps/__init__.py
  backend/fps/fps.xml
  backend/fps/parser.py
  backend/oj/settings.py
  backend/oj/urls.py
  backend/problem/serializers.py
  backend/problem/urls/admin.py
  backend/problem/urls/oj.py
  backend/problem/views/admin.py
  backend/problem/views/oj.py
  backend/submission/tests.py
  backend/submission/urls.py
  backend/submission/urls/__init__.py
  backend/submission/urls/admin.py
  backend/submission/views.py
  backend/submission/views/__init__.py
  backend/submission/views/admin.py
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/oj/views/user/Login.vue
  frontend/src/pages/oj/views/user/ProfileSetting.vue
Labels: backend, refactor

#148 Change ElementUI to BootstrapVue
  frontend/src/i18n/admin/en-US.js
  frontend/src/pages/admin/components/Accordion.vue
  frontend/src/pages/admin/components/KatexEditor.vue
  frontend/src/pages/admin/components/Panel.vue
  frontend/src/pages/admin/components/ScreenFull.vue
  frontend/src/pages/admin/components/SideMenu.vue
  frontend/src/pages/admin/components/btn/Cancel.vue
  frontend/src/pages/admin/components/btn/IconBtn.vue
  frontend/src/pages/admin/components/btn/Save.vue
  frontend/src/pages/admin/components/infoCard.vue
  frontend/src/pages/admin/views/Home.vue
  frontend/src/pages/admin/views/contest/Contest.vue
  frontend/src/pages/admin/views/contest/ContestList.vue
  frontend/src/pages/admin/views/general/Announcement.vue
  frontend/src/pages/admin/views/general/Conf.vue
  frontend/src/pages/admin/views/general/Dashboard.vue
  frontend/src/pages/admin/views/general/JudgeServer.vue
  frontend/src/pages/admin/views/general/Login.vue
  frontend/src/pages/admin/views/general/PruneTestCase.vue
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/admin/views/problem/AddPublicProblem.vue
  frontend/src/pages/admin/views/problem/Problem.vue
  frontend/src/pages/admin/views/problem/ProblemList.vue
Labels: frontend, refactor

#150 Uninstall Element UI completely
  frontend/package.json
  frontend/src/i18n/index.js
  frontend/src/pages/admin/index.js
  frontend/vue.config.js
  frontend/yarn.lock
Labels: frontend, refactor

#132 problem이 testcase가 없어도 저장되는 이슈 수정
  backend/problem/views/admin.py
  frontend/src/pages/admin/views/problem/Problem.vue
Labels: backend, bug, frontend

#155 Remove unused components in oj
  frontend/src/pages/oj/components/Pagination.vue
  frontend/src/pages/oj/components/Panel.vue
  frontend/src/pages/oj/components/verticalMenu/verticalMenu-item.vue
  frontend/src/pages/oj/components/verticalMenu/verticalMenu.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/submission/SubmissionDetails.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
Labels: frontend

#163 Fix CodeMirror Height
  frontend/src/pages/oj/components/CodeMirror.vue
Labels: bug, frontend

#161 Changed less to scss vue files in the oj folder
  frontend/src/pages/oj/components/Banner.vue
  frontend/src/pages/oj/components/CodeMirror.vue
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/components/Header.vue
  frontend/src/pages/oj/components/Highlight.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/general/404.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/problem/ProblemSidebar.vue
  frontend/src/pages/oj/views/user/ApplyResetPassword.vue
  frontend/src/pages/oj/views/user/Login.vue
  frontend/src/pages/oj/views/user/ProfileSetting.vue
  frontend/src/pages/oj/views/user/Register.vue
  frontend/src/pages/oj/views/user/ResetPassword.vue
Labels: enhancement, frontend

#156 postgresql deadlock issue 관련 수정
  backend/judge/dispatcher.py
Labels: backend, bug

#171 Add contest delete API
  backend/contest/views/admin.py
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/views/contest/ContestList.vue
Labels: backend, enhancement

#174 Modify design of oj pages and editor
  frontend/src/pages/admin/components/Tiptap.vue
  frontend/src/pages/oj/views/announcement/AnnouncementList.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
Labels: design, frontend

#151 Apply PgBouncer for DB Connection Pooling
  .github/workflows/test-backend.yml
  backend/init_db.sh
  backend/oj/dev_settings.py
  backend/oj/production_settings.py
  backend/oj/test_runner.py
  backend/options/options.py
  docker-compose.yml
Labels: backend, bug

#179 Arrange scss in vue files
  frontend/src/pages/oj/components/Footer.vue
  frontend/src/pages/oj/components/Header.vue
  frontend/src/pages/oj/views/announcement/Announcement.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/ContestList.vue
  frontend/src/pages/oj/views/general/404.vue
  frontend/src/pages/oj/views/general/Home.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/user/ResetPassword.vue
  frontend/src/styles/tiptapview.scss
Labels: frontend, refactor

#189 Show Submission Detail when compile error occurs
  frontend/src/pages/oj/views/problem/ProblemSidebar.vue
Labels: bug, frontend
