Repository skkuding/skku-coding-platform, pull requests merged in 2021-09, with the labels that each got.

#222 Fix SubmissionListAPI, ContestSubmissionListAPI
  backend/submission/views.py
Labels: backend

#224 Remove CDN related codes
  backend/conf/views.py
  backend/deploy/entrypoint.sh
  docker-compose.yml
  frontend/src/pages/admin/views/general/Dashboard.vue
  frontend/vue.config.js
Labels: frontend, backend, refactor

#232 No need to call `getWebsiteConfig()` from footer
  frontend/src/pages/oj/components/Footer.vue
Labels: bug, frontend

#239 Change ElementUI warning to vue-simple-alert error
  frontend/src/pages/admin/views/general/Conf.vue
  frontend/src/pages/admin/views/general/User.vue
Labels: bug, frontend
