Repository skkuding/skku-coding-platform, pull requests merged in 2021-11, with the labels that each got.

#245 Fix register_now button status
  frontend/src/pages/oj/views/user/Login.vue
Labels: bug, frontend

#228 Add HSTS, CSP headers
  backend/conf/views.py
  backend/deploy/entrypoint.sh
  backend/deploy/nginx/https_redirect.conf
  backend/deploy/nginx/locations.conf
  backend/deploy/nginx/nginx.conf
  docker-compose.yml
  frontend/src/pages/admin/views/general/Dashboard.vue
Labels: backend, security

#249 Hotfix: fix katex not rendering issue
  frontend/src/pages/oj/views/problem/Problem.vue
Labels: frontend

#251 Fix: Codemirror not rendered issue when clicking recent submission
  frontend/src/pages/oj/views/problem/Problem.vue
Labels: frontend

#254 Fix constant replacement bug in entrypoint
  backend/deploy/entrypoint.sh
Labels: bug
