Repository skkuding/skku-coding-platform, pull requests merged in 2021-06, with the labels that each got.

#106 Enable editing testcase
  backend/problem/views/admin.py
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/views/problem/Problem.vue
Labels: backend, bug

#108 Frontend 코드 정리
  frontend/package.json
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/components/HelloWorld.vue
  frontend/src/pages/admin/components/SideMenu.vue
  frontend/src/pages/admin/components/TopNav.vue
  frontend/src/pages/admin/router.js
  frontend/src/pages/admin/views/general/Announcement.vue
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/admin/views/index.js
  frontend/src/pages/admin/views/problem/ImportAndExport.vue
  frontend/src/pages/admin/views/problem/ProblemList.vue
  frontend/src/pages/oj/api.js
  frontend/src/pages/oj/components/CodeMirror.vue
  frontend/src/pages/oj/components/Header.vue
  frontend/src/pages/oj/index.js
  frontend/src/pages/oj/router/routes.js
  frontend/src/pages/oj/views/announcement/Announcement.vue
  frontend/src/pages/oj/views/announcement/AnnouncementList.vue
  frontend/src/pages/oj/views/contest/ContestDetail.vue
  frontend/src/pages/oj/views/contest/children/ACMContestRank.vue
  frontend/src/pages/oj/views/contest/children/ACMHelper.vue
  frontend/src/pages/oj/views/contest/children/ContestProblemList.vue
  frontend/src/pages/oj/views/contest/children/ContestRank.vue
  frontend/src/pages/oj/views/contest/children/OIContestRank.vue
  frontend/src/pages/oj/views/contest/children/contestRankMixin.js
  frontend/src/pages/oj/views/contest/index.js
  frontend/src/pages/oj/views/help/About.vue
  frontend/src/pages/oj/views/help/FAQ.vue
  frontend/src/pages/oj/views/index.js
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/chartData.js
  frontend/src/pages/oj/views/rank/ACMRank.vue
  frontend/src/pages/oj/views/rank/OIRank.vue
  frontend/src/pages/oj/views/setting/Settings.vue
  frontend/src/pages/oj/views/setting/index.js
  frontend/src/pages/oj/views/user/ProfileSetting.vue
  frontend/src/pages/oj/views/user/UserHome.vue
  frontend/yarn.lock
Labels: frontend

#120 (fixed) Use GitHub Action to check frontend PRs
  .github/workflows/test-backend.yml
  .github/workflows/test-frontend.yml
  backend/.flake8
  frontend/vue.config.js
Labels: dev-ops, frontend

#111 Delete unused apis 2
  backend/account/serializers.py
  backend/account/tests.py
  backend/account/urls/oj.py
  backend/account/views/oj.py
Labels: backend

#116 oj, admin pages async await 처리
  frontend/src/pages/admin/views/Home.vue
  frontend/src/pages/admin/views/general/JudgeServer.vue
  frontend/src/pages/admin/views/general/Login.vue
  frontend/src/pages/admin/views/general/PruneTestCase.vue
  frontend/src/pages/admin/views/general/User.vue
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/pages/oj/views/problem/ProblemList.vue
  frontend/src/pages/oj/views/problem/ProblemSidebar.vue
  frontend/src/pages/oj/views/submission/SubmissionDetails.vue
  frontend/src/pages/oj/views/submission/SubmissionList.vue
Labels: frontend
