Repository skkuding/skku-coding-platform, pull requests merged in 2022-02, with the labels that each got.

#294 Add Group Tab in User Profile Page.
  frontend/src/pages/oj/components/user/ProfileGroup.vue
  frontend/src/styles/common.scss
Labels: enhancement, frontend, design

#290 Add Profile Submission in Profile Page
  frontend/src/pages/oj/components/user/ProfileSubmission.vue
Labels: frontend

#272 Save and Restore the code and theme on changing the problem
  frontend/src/pages/oj/views/problem/Problem.vue
  frontend/src/store/modules/user.js
Labels: enhancement, frontend

#299 hotfix: For backward compatibility before PR 272
  frontend/src/pages/oj/views/problem/Problem.vue
Labels: bug, frontend

#289 chore: license
  LICENSE
Labels: documentation

#297 chore: open coverage result with live-server
  backend/run_test.py
Labels: backend
