Repository skkuding/skku-coding-platform, pull requests merged in 2022-01, with the labels that each got.

#265 Add IpAddressInfoAPI in /conf
  backend/conf/tests.py
  backend/conf/urls/admin.py
  backend/conf/views.py
  frontend/src/pages/admin/api.js
  frontend/src/pages/admin/views/general/Dashboard.vue
Labels: backend

#271 Fix code_template error
  backend/judge/dispatcher.py
Labels: bug, backend

#281 fix: invalid match tag
  frontend/src/pages/prof/components/SideMenu.vue
  frontend/src/pages/prof/views/general/CourseDashboard.vue
Labels: bug

#283 Configure debugging in vscode
  .vscode/launch.json
  frontend/vue.config.js
Labels: dev-ops
